{% extends "rcos/base.html" %}

{% block rcoscontent %}
<h1>Course Offering</h1>
RPI offers an open source coding class separate from the general RCOS program, <a href="http://public.kitware.com/OpenSourceSoftwarePractice/index.php/Fall2010/Main_Page">Open Source Software Practices ECSE 4968 / CSCI-4967.</a>
<h2>To quote the syllabus:</h2>
Students who have successfully completed this course will be able to:
<ul>
<li> Demonstrate understanding of US copyright, patent and trademark laws and apply these
concepts to the interpretation of software licenses.</li>
<li> Demonstrate understanding of the economics of peer-production and its business models, and recognize the conditions under which peer-production can be performed effectively.</li>
<li> Participate in open source projects, their governance and organizational structure.</li> 
<li> Participate effectively in large scale software projects applying software engineering practices.</li>
<li> Recognize social implications of open source methodologies, such as open access publishing and the Wikipedia.</li>
<li> Understand the psychological and sociological basis of self-motivated work and how to apply them to foster emergent behaviors.</li>
</ul>
{% endblock %}
